* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-color: blue;
    height: 100vh; 
    background-image: url("images/desktop/image-header.jpg");
    background-position: center bottom;
    background-size:cover;
    display:flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
    padding: 0 20px;
}
.menu {
    display:flex;
    align-items: center; /*Vertical*/
    justify-content: center; /*Horizontal*/
    font-size: 20px;
    color:white;
    
}
.menu span {
    margin-right:30px;
    cursor:pointer;
}
.contact {
    background-color: white;
    color:black;
    padding:4px 15px;
    border-radius: 15px;

    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.contact:hover {
    background-color: antiquewhite;
}

.main {
    display:flex;
    flex-direction: column;
    align-items: center; /*Horizontal*/
    justify-content: center; /*Vertical*/
    font-size: 60px;
    flex-grow:1;
    font-weight:bold;
    color:white;
    
}
.arrow {
    margin-top:50px;
}