* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-size: 18px;  
}

.banner {
    min-height:600px;
    height: 80vh; 
    background-image: url("images/desktop/image-header.jpg");
    background-position: center bottom;
    background-size:cover;
    display:flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
    padding: 0 20px;
}
.header .filter {
    filter: invert(100%) sepia(0%) saturate(7500%)
     hue-rotate(346deg) brightness(101%) contrast(102%);
}
.menu {
    display:flex;
    align-items: center; /*Vertical*/
    justify-content: center; /*Horizontal*/
    font-size: 20px;
    color:white;
    
}
.menu span {
    margin-right:30px;
    cursor:pointer;
}
.contact {
    background-color: white;
    color:black;
    padding:4px 15px;
    border-radius: 15px;

    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.contact:hover {
    background-color: antiquewhite;
}

.main {
    display:flex;
    flex-direction: column;
    align-items: center; /*Horizontal*/
    justify-content: center; /*Vertical*/
    font-size: 60px;
    flex-grow:1;
    font-weight:bold;
    color:white;
}
.arrow {
    margin-top:50px;
}

.section1, .section2 {
    display: flex;
}

.section1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section1 .left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1 .text-container {
    width: 70%;
}
.section1 .text-container img {
    display: flex;
}
.left h1 {
    font-size: 40px;
    margin-bottom: 30px;
    
}
.left p {
    color: #848391;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 600;
}
.left .button {
    display: flex;
    margin-top:30px;
}
.left div img {
    width:150px;
}
.left, .right {
    flex:1;
}
.left img, .right img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 100px;
    letter-spacing: 1px;
}
.testimonials h1 {
    color:#A0A1A2;
    font-size: 22px;
    font-weight: bold;
}
.clients {
    display: flex;
    justify-content: space-between;
    margin-top:70px;
    padding: 0 40px;
}
.clients .client {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    flex:0.3;
}
.client:first-child {
    margin:0;
}

.client-image {
   height: 70px; 
   margin-bottom: 50px;
}
.client-image img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.client-feedback {
    margin-bottom: 70px;
    text-align: center;
    flex:1;
    color: #848391;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
}

.author h1 {
    color: black;
}
.author p {
    color: #A0A1A2;
    font-family: Arial, Helvetica, sans-serif;
}

.section4 {
    display: flex;
}
.section4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex:0.25;
}

footer {
    background-color:#90D4C5;
    height:300px;
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.footer-container .logo {
    margin-top: 70px;
}
.footer-container .footer-items {
    color:#5A9E8F;
    margin-top:50px;
    font-weight: bold;
}

.footer-container .footer-items span {
    padding:12px;
}

.footer-container .logo .filter {
    filter: invert(40%) sepia(9%)
     saturate(2270%) hue-rotate(118deg)
     brightness(93%) contrast(93%);  
}

.footer-container .social {
    margin-top: 60px;
}
.footer-container .social img {
    padding:10px;
}
